common: &common
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  username: user
  password: pass


development:
  <<: *common
  database: rocktheboat_development
  min_message: notice

production:
  <<: *common
  database: rocktheboat_production

test:
  <<: *common
  database: rocktheboat_test